### Video Game Sales

In [3]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv('./vgsales.csv')
df.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [5]:
# df.head(15)
df.describe()
df.keys()

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

## Which company is the most common video game publisher?

In [6]:
# df.sort_values('Publisher', ascending=True).head(1)
# df.groupby('Publisher').max()
# df.sort_values('Publisher', ascending=False).head(1)
df['Publisher'].value_counts().idxmax()

'Electronic Arts'

### the most common platform

In [7]:
df['Platform'].value_counts().idxmax()

'DS'

### the most common genre

In [8]:
df['Genre'].value_counts().idxmax()

'Action'

### the top 20 highest grossing games

In [14]:
df.sort_values('Global_Sales', ascending=False).head(20)['Name']

0                                       Wii Sports
1                                Super Mario Bros.
2                                   Mario Kart Wii
3                                Wii Sports Resort
4                         Pokemon Red/Pokemon Blue
5                                           Tetris
6                            New Super Mario Bros.
7                                         Wii Play
8                        New Super Mario Bros. Wii
9                                        Duck Hunt
10                                      Nintendogs
11                                   Mario Kart DS
12                     Pokemon Gold/Pokemon Silver
13                                         Wii Fit
14                                    Wii Fit Plus
15                              Kinect Adventures!
16                              Grand Theft Auto V
17                   Grand Theft Auto: San Andreas
18                               Super Mario World
19    Brain Age: Train Your Brain in Minutes a Day
Name: Name, dtype: object

In [16]:
df.nlargest(20,['Global_Sales'])['Name']

0                                       Wii Sports
1                                Super Mario Bros.
2                                   Mario Kart Wii
3                                Wii Sports Resort
4                         Pokemon Red/Pokemon Blue
5                                           Tetris
6                            New Super Mario Bros.
7                                         Wii Play
8                        New Super Mario Bros. Wii
9                                        Duck Hunt
10                                      Nintendogs
11                                   Mario Kart DS
12                     Pokemon Gold/Pokemon Silver
13                                         Wii Fit
14                                    Wii Fit Plus
15                              Kinect Adventures!
16                              Grand Theft Auto V
17                   Grand Theft Auto: San Andreas
18                               Super Mario World
19    Brain Age: Train Your Brain in Minutes a Day
Name: Name, dtype: object

### the median For North American video game sales

In [18]:
md = df.loc[:,"NA_Sales"].median()
df["NA_Sales"].median()
df[(df['NA_Sales']>= df['NA_Sales'].median()-0.01) & (df['NA_Sales'] <= df['NA_Sales'].median()+0.01)].head(10)['Name']

137                               World of Warcraft
446                               Dragon Warrior IV
497     World Soccer Winning Eleven 7 International
504                               Colin McRae Rally
704                   TOCA Touring Car Championship
1353             Dragon Quest VII: Warriors of Eden
1617                         Farming Simulator 2015
1690                      Pro Evolution Soccer 2008
1926                      Pro Evolution Soccer 2008
1993                               Tales of Destiny
Name: Name, dtype: object

In [20]:
df[df['NA_Sales'] == md].head(10)['Name']

446                                     Dragon Warrior IV
497           World Soccer Winning Eleven 7 International
1617                               Farming Simulator 2015
1926                            Pro Evolution Soccer 2008
2067    Winning Eleven: Pro Evolution Soccer 2007 (All...
2373                             Phantasy Star Portable 2
2579                                 The Sims 2: Castaway
3186                                       SingStar Queen
3503                                           Top Spin 3
3703                 Sonic & All-Stars Racing Transformed
Name: Name, dtype: object

In [21]:

globl_top_sales = df.iloc[0].NA_Sales
globl_top_sales

na_sal_men = df['NA_Sales'].mean()
na_sal_men

na_sal_std = df['NA_Sales'].std()
na_sal_std

dis = globl_top_sales - na_sal_men
dis

ans = dis/na_sal_std
ans

50.47898767479108

In [22]:
wii = df[ df['Platform'] == 'Wii' ]
wii_mean = wii.mean()['Global_Sales']

not_wii = df[ df['Platform'] != 'Wii' ]
not_wii_mean = not_wii.mean()['Global_Sales']

print(f"Wii Mean: {wii_mean}")
print(f"Not Wii Mean: {not_wii_mean}")

print(f"Diff is: {abs(wii_mean - not_wii_mean)}")

Wii Mean: 0.6994037735849057
Not Wii Mean: 0.5233896418516336
Diff is: 0.17601413173327207

In [25]:
games_number = df['Name'].nunique()
games_number

11493

In [31]:
platforms_number = df['Platform'].nunique()
platforms_number

31

In [28]:
last_year = df['Year'].max()
last_year

2020.0

In [29]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, None)
    assert_equal(most_common_platform, None)
    assert_equal(most_common_genre, None)
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, None)
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, None)
    assert_equal(na_median_sales, None)
    assert_equal(ten_median_na_seller_names, None)

    print("Success!!!")

test()

NameError: name 'most_common_publisher' is not defined